@model Employee

@{
    ViewBreadcrumbs breadcrumbs = new();
    breadcrumbs.Title = "Conta funcionário";
    breadcrumbs.Breadcrumbs = new BreadcrumbsDTO[]{
        new BreadcrumbsDTO("Início", "/", "fa-solid fa-house"),
        new BreadcrumbsDTO("Perfil")
    };

    ViewData["Title"] = breadcrumbs.Title;
}

@(await Component.InvokeAsync<BreadcrumbsViewComponent>(breadcrumbs))

<div class="my-10">
    <div class="container mx-auto px-5">
        <div class="w-5/6 mx-auto">
            <div class="flex flex-wrap">

                <div class="w-3/12 px-5 mb-10">
                    <a asp-action="RegistroCliente" asp-controller="Admin" asp-route-codigo="@Model.Codigo" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <figure class="px-3 pt-3">
                            <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="" class="rounded-xl" />
                        </figure>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Registro de Clientes</h2>
                                <p>Organização, consultas, gestão de interações.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-3/12 px-5 mb-10">
                    <a href="#" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <figure class="px-3 pt-3">
                            <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="" class="rounded-xl" />
                        </figure>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Solicitações de Troca</h2>
                                <p>Listar e gerenciar solicitações de troca.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-3/12 px-5 mb-10">
                    <a href="#" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <figure class="px-3 pt-3">
                            <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="" class="rounded-xl" />
                        </figure>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Devoluções de Mercadorias</h2>
                                <p>Reembolso, resgate de cupons de desconto.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-3/12 px-5 mb-10">
                    <a href="#" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <figure class="px-3 pt-3">
                            <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="" class="rounded-xl" />
                        </figure>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Produtos</h2>
                                <p>Gestão de produtos em exibição, promoções e tabelas de preços.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-3/12 px-5 mb-10">
                    <a href="#" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <figure class="px-3 pt-3">
                            <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="" class="rounded-xl" />
                        </figure>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Gestão de Estoque</h2>
                                <p>Entrada e saida, consultas, gestão de estoque.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-3/12 px-5 mb-10">
                    <a href="#" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <figure class="px-3 pt-3">
                            <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="" class="rounded-xl" />
                        </figure>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Emissão de Cupons</h2>
                                <p>Gestão de cupons de desconto e troca.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-3/12 px-5 mb-10">
                    <a href="#" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <figure class="px-3 pt-3">
                            <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="" class="rounded-xl" />
                        </figure>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Relatório de vendas</h2>
                                <p>Consulta dos resultados e de vendas, lucros e outros indicadores.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>