@model Client

@{
    ViewBreadcrumbs breadcrumbs = new();
    breadcrumbs.Title = "Sua conta";
    breadcrumbs.Breadcrumbs = new BreadcrumbsDTO[]{
        new BreadcrumbsDTO("Início", "/", "fa-solid fa-house"),
        new BreadcrumbsDTO("Perfil")
    };

    ViewData["Title"] = breadcrumbs.Title;
}

@(await Component.InvokeAsync<BreadcrumbsViewComponent>(breadcrumbs))

<div class="my-10">
    <div class="container mx-auto px-5">
        <div class="w-5/6 mx-auto">
            <div class="flex flex-wrap">

                <div class="w-3/12 px-5 mb-10">
                    <a href="#" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <div class="px-3 pt-3 h-[155px]"><figure class="rounded-xl bg-white h-full">
                            <img src="~/img/images/perfil/cliente/pedidos.png" alt="" class="h-full rounded-xl" />
                        </figure></div>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Seus pedidos</h2>
                                <p>Organização, consultas, gestão de interações.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-3/12 px-5 mb-10">
                    <a asp-action="Cliente" asp-controller="Client" asp-route-codigo="@Model.Codigo" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <div class="px-3 pt-3 h-[155px]"><figure class="rounded-xl bg-white h-full">
                            <img src="~/img/images/perfil/cliente/dados.png" alt="" class="h-full rounded-xl" />
                        </figure></div>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Dados cadastrais</h2>
                                <p>Listar e gerenciar solicitações de troca.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-3/12 px-5 mb-10">
                    <a href="#" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <div class="px-3 pt-3 h-[155px]"><figure class="rounded-xl bg-white h-full">
                            <img src="~/img/images/perfil/cliente/troca.png" alt="" class="h-full rounded-xl" />
                        </figure></div>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Trocas</h2>
                                <p>Reembolso, resgate de cupons de desconto.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-3/12 px-5 mb-10">
                    <a href="#" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <div class="px-3 pt-3 h-[155px]"><figure class="rounded-xl bg-white h-full">
                            <img src="~/img/images/perfil/cliente/devolucao.png" alt="" class="h-full rounded-xl" />
                        </figure></div>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Devoluções</h2>
                                <p>Gestão de produtos em exibição, promoções e tabelas de preços.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-3/12 px-5 mb-10">
                    <a href="#" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <div class="px-3 pt-3 h-[155px]"><figure class="rounded-xl bg-white h-full">
                            <img src="~/img/images/perfil/cliente/cupom.png" alt="" class="h-full rounded-xl" />
                        </figure></div>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Cupom de Desconto</h2>
                                <p>Entrada e saida, consultas, gestão de estoque.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-3/12 px-5 mb-10">
                    <a href="#" class="card bg-gray-100 h-full hover:bg-gray-200 shadow">
                        <div class="px-3 pt-3 h-[155px]"><figure class="rounded-xl bg-white h-full">
                            <img src="~/img/images/perfil/cliente/favoritos.png" alt="" class="h-full rounded-xl" />
                        </figure></div>
                        <div class="card-body items-start text-start px-3 py-3">
                            <div>
                                <h2 class="card-title !text-base">Lista de desejos</h2>
                                <p>Gestão de cupons de desconto e troca.</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <div class="my-5">
            <div class="w-5/6 mx-auto px-5">
                <div class="flex flex-wrap gap-5 button">
                    <a asp-action="ExcluirConta" asp-controller="Client" asp-route-codigo="@Model.Codigo" class="btn !flex !items-center !bg-red-600 hover:!bg-red-900">Excluir minha conta</a>
                </div>
            </div>
        </div>
    </div>
</div>