<div class="brands">
    <div class="container mx-auto sm:px-4">
        <div class="flex flex-wrap justify-center">
            <div class="lg:w-1/2 px-4 lg:mx-1/4 md:w-full w-full">
                <h2 class="title">Popular Brands</h2>
            </div>
        </div>

        <div class="brands-logo-wrapper">
            <div class="tns-outer" id="tns2-ow">
                <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">
                    slide <span class="current">19 to 24</span> of 8
                </div>
                <div id="tns2-mw" class="tns-ovh">
                    <div class="tns-inner" id="tns2-iw">
                        <div class="brands-logo-carousel flex items-center justify-between  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
                             id="tns2">
                            <div class="brand-logo tns-item" id="tns2-item0" aria-hidden="true" tabindex="-1">
                                <img src="~/img/images/brands/01.png" alt="...">
                            </div>
                            <div class="brand-logo tns-item" id="tns2-item1" aria-hidden="true" tabindex="-1">
                                <img src="~/img/images/brands/02.png" alt="...">
                            </div>
                            <div class="brand-logo tns-item" id="tns2-item2" aria-hidden="true" tabindex="-1">
                                <img src="~/img/images/brands/03.png" alt="...">
                            </div>
                            <div class="brand-logo tns-item" id="tns2-item3" aria-hidden="true" tabindex="-1">
                                <img src="~/img/images/brands/04.png" alt="...">
                            </div>
                            <div class="brand-logo tns-item" id="tns2-item4" aria-hidden="true" tabindex="-1">
                                <img src="~/img/images/brands/05.png" alt="...">
                            </div>
                            <div class="brand-logo tns-item" id="tns2-item5" aria-hidden="true" tabindex="-1">
                                <img src="~/img/images/brands/06.png" alt="...">
                            </div>
                            <div class="brand-logo tns-item" id="tns2-item6" aria-hidden="true" tabindex="-1">
                                <img src="~/img/images/brands/03.png" alt="...">
                            </div>
                            <div class="brand-logo tns-item tns-slide-active" id="tns2-item7">
                                <img src="~/img/images/brands/04.png" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>