@{
ViewBreadcrumbs breadcrumbs = new();
breadcrumbs.Title = "Favoritos";
breadcrumbs.Breadcrumbs = new BreadcrumbsDTO[]{
new BreadcrumbsDTO("Início", "/", "fa-solid fa-house"),
new BreadcrumbsDTO("Favoritos")
};

ViewData["Title"] = breadcrumbs.Title;
}

@(await Component.InvokeAsync<BreadcrumbsViewComponent>(breadcrumbs))

    <div class="shopping-cart section">
        <div class="container mx-auto px-4">

            <div id="container-favorites">
                <div class="text-center">
                    <span class="loading loading-spinner loading-lg text-primary"></span>
                    <h3>Carregando</h3>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script src="~/js/Favorites.js" asp-append-version="true"></script>
}