@model FavoritesView

@{
ViewBreadcrumbs breadcrumbs = new();
breadcrumbs.Title = "Favoritos";
breadcrumbs.Breadcrumbs = new BreadcrumbsDTO[]{
new BreadcrumbsDTO("Início", "/", "fa-solid fa-house"),
new BreadcrumbsDTO("Favoritos")
};

ViewData["Title"] = breadcrumbs.Title;
}

@(await Component.InvokeAsync<BreadcrumbsViewComponent>(breadcrumbs))

    <div class="shopping-cart section">
        <div class="container mx-auto px-4">

            <div id="container-favoritos">
                @(await Component.InvokeAsync<ProdutosFavoritesViewComponent>(Model.Produtos))
            </div>
        </div>
    </div>

@section Scripts {
    <script src="~/js/Favorites.js" asp-append-version="true"></script>
}