@{
    var url = Context.Request.RouteValues;
    var codigo = url["Codigo"].ToString();

    ViewBreadcrumbs breadcrumbs = new();
    breadcrumbs.Title = "Relatório Vendas";
    breadcrumbs.Breadcrumbs = new BreadcrumbsDTO[] {
new BreadcrumbsDTO("Início", "/", "fa-solid fa-house"),
new BreadcrumbsDTO("Perfil", Url.Action("Index", "Admin", new{ codigo }), "fa-solid fa-user"),
new BreadcrumbsDTO("Relatório")
};

    ViewData["Title"] = breadcrumbs.Title;
}

@(await Component.InvokeAsync<BreadcrumbsViewComponent>(breadcrumbs))


<header class="bg-gray-100 text-white py-6">
    <div class="container mx-auto text-left">
        <h1 class="text-2xl font-bold">Vendas</h1>
        <p class="text-base text-yellow-600 mt-2">
            Acompanhe o andamento das vendas, assim você melhora sua gestão comercial.
        </p>
    </div>
</header>

<main class="container mx-auto py-8">
    <div class="space-y-4">
        <form id="filtro" class="flex items-end gap-5 w-[175px]">
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text-alt">Inicio</span>
                </div>
                <input type="date" name="inicio" placeholder="Type here" class="input input-bordered w-full" />
            </label>

            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text-alt">Fim</span>
                </div>
                <input type="date" name="fim" placeholder="Type here" class="input input-bordered w-full" />
            </label>

            <button type="button" id="filtro_data" class="btn btn-primary">Filtrar</button>
            <button type="button" id="limpar_filtro" style="display: none;" class="btn btn-warning">
                <i class="fa-solid fa-filter-circle-xmark"></i>
            </button>
        </form>

        <div id="container_geral"></div>

        <hr>

        <div id="container_produto"></div>


        <div class="mt-2 border-t pt-5">
            <button id="filtro_categorias" class="btn btn-sm btn-info">Filtar Tema</button>

            <form id="lista-categorias" class="mt-4 flex flex-wrap items-center gap-4"></form>
        </div>
    </div>
</main>

@section Scripts {
    <script src="~/libs/highcharts/highcharts.js" asp-append-version="true"></script>
    <script src="~/libs/highcharts/modules/data.js" asp-append-version="true"></script>
    <script src="~/libs/highcharts/modules/series-label.js" asp-append-version="true"></script>
    <script src="~/libs/highcharts/modules/exporting.js" asp-append-version="true"></script>
    <script src="~/libs/highcharts/modules/export-data.js" asp-append-version="true"></script>
    <script src="~/libs/highcharts/modules/accessibility.js" asp-append-version="true"></script>
    <script src="~/js/Admin/Relatorios.js" asp-append-version="true"></script>
}