@model CartView

@{
    ViewBreadcrumbs breadcrumbs = new();
    breadcrumbs.Title = "Meu Carrinho";
    breadcrumbs.Breadcrumbs = new BreadcrumbsDTO[]{
        new BreadcrumbsDTO("Início", "/", "fa-solid fa-house"),
        new BreadcrumbsDTO("Produtos", Url.Action("Index", "Shop")),
        new BreadcrumbsDTO("Meu Carrinho")
    };

    ViewData["Title"] = breadcrumbs.Title;
}

@(await Component.InvokeAsync<BreadcrumbsViewComponent>(breadcrumbs))

<div class="shopping-cart section">
    <div class="container mx-auto px-4">

        <div id="container-carrinho">
            @(await Component.InvokeAsync<ProdutosCartViewComponent>(Model.Produtos))
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/js/Carrinho.js" asp-append-version="true"></script>
}