<section class="shipping-info">
        <div class="container mx-auto sm:px-4">
            <ul>

                <li>
                    <div class="media-icon">
                        <i class="fa-light fa-truck"></i>
                    </div>
                    <div class="flex-1">
                        <h5>Frete grátis</h5>
                        <span>Em pedidos acima de R$ 1.500,00</span>
                    </div>
                </li>

                <li>
                    <div class="media-icon">
                        <i class="fa-light fa-messages-question"></i>
                    </div>
                    <div class="flex-1">
                        <h5>24/7 Suporte.</h5>
                        <span>Bate-papo ao vivo ou chamada.</span>
                    </div>
                </li>

                <li>
                    <div class="media-icon">
                        <i class="fa-light fa-wallet"></i>
                    </div>
                    <div class="flex-1">
                        <h5>Pagamento online.</h5>
                        <span>Serviços de pagamento seguro.</span>
                    </div>
                </li>

                <li>
                    <div class="media-icon">
                       <i class="fa-light fa-repeat"></i>
                    </div>
                    <div class="flex-1">
                        <h5>Retorno fácil.</h5>
                        <span>Compras sem complicações.</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>